body {
    margin: 0;
    font-family: Tahoma, sans-serif;
    background: #008080;
}

#login-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    background: #c0c0c0;
    border: 3px solid #808080;
    padding: 20px;
    width: 350px;
    box-shadow: inset -3px -3px #fff, inset 3px 3px #404040;
}

.login-title {
    font-size: 20px;
    margin-bottom: 20px;
    color: black;
}

.field-label {
    color: black;
    margin-bottom: 5px;
}

.password-box {
    background: white;
    border: 2px solid #808080;
    padding: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.password-stars {
    font-size: 18px;
    letter-spacing: 3px;
    color: black;
}

.login-btn {
    padding: 5px 10px;
    border: 2px solid #808080;
    background: #c0c0c0;
    cursor: pointer;
    font-weight: bold;
}
